#VS Code specific files
.vscode/

#What even does .DS_Store do, like legit what's it for?
.DS_Store

# PROS
.d/
bin/
firmware/
include/display
include/okapi
include/pros
api.h
project.pros

#CMake
common.mk
Makefile
