# Compiled Object files
*.o
*.obj

# Executables
*.bin
*.elf

# .idea
.idea/

# PROS
bin/
.vscode/
compile_commands.json
temp.log
temp.errors
*.ini
.d/
firmware
include/display
include/okapi
include/PROS
include/api.h
Makefile
common.mk
project.pros